<!doctype html>

<html>

<head>
	<meta charset="utf-8">
	<title>Global Rescue</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		* {
			font-family: 'Roboto', sans-serif;
			font-size: 18px;
		}

		body {
			margin: 0px;
			background-color: #f3f3f3;
		}

		a.view-agreement {
			background-color: #d31634;
			color: white;
			text-decoration: none;
			padding: 10px 15px;
			border-radius: 5px;
			font-weight: bold;
		}

		p {
			margin-block-start: 0;
			margin-block-end: 0;

			line-height: 1.5;
		}

		.gr-social-links li {
			list-style: none;
			display: inline-block;
			width: 8%;
		}

		.facebook a {
			padding: 2px 9.5px;
			border-radius: 5px;
		}

		.twitter a {
			padding: 2px 7px;
			border-radius: 5px;
		}

		.linkden a {
			padding: 2px 7px;
			border-radius: 5px;
		}

		.instagram a {
			padding: 2px 7px;
			border-radius: 5px;
		}

		.vimeo a {
			padding: 2px 5px;
			border-radius: 5px;
		}
	</style>
</head>

<body>
	<table cellspacing="0" cellpadding="0" width="100%" align="center">
		<!-- Email Header -->
		<tr>
			<td align="center" style="background: #424242 ;height: 93px;text-align: center;">
				<a href="https://www.globalrescue.com/">
					<img src="https://cdn2.globalrescue.com/grapps/grid/gr_logo.png" alt="Global Rescue Logo"
						width="450" height="49" style="display: block; margin: auto;" />
				</a>
			</td>
		</tr>
		<!-- End Email Header -->
	</table>
	<table cellspacing="0" cellpadding="0" width="50%" align="center" style="background-color: white;">
		<!-- Email Content -->
		<tr>
			<td style="padding: 20px;">
				<h4
					style="font-size: 30px;padding-bottom: 18px;text-align: center;border-bottom: 1px solid #424242;margin-block-start: 0;margin-block-end: 0; font-weight: 500;margin-bottom: 35px;">
					Welcome to Global Rescue</h4>
				<h2>Hello ${memberName},</h2>
				<p>Welcome to Global Rescue and thank you for enrolling as a Resident of The World. To view your Global
					Rescue membership agreement click below.</p>
			</td>
		</tr>
		<tr>
			<td style="padding-bottom: 5px; padding-top: 0px; padding-left:20px;">
				<a style="border-width: 8px 16px; border-style: solid; border-color: #d61315; border-radius: 0px; color: rgb(255, 255, 255); font-family: Roboto, sans-serif; font-size: 14px; text-decoration: none; display: inline-block; background-color: #d61315;"
					href="https://www.globalrescue.com/grmkt_resources/pdfs/Global-Rescue-Master-Services-Agreement-Resident-Appendix-2021.pdf"><strong>View
						Agreement</strong></a>
			</td>
		</tr>
		<tr>
			<td style="padding: 20px;">
				<p style="margin-bottom:0px;">Sincerely,</p>
				<p style="margin:0px;">Global Rescue Operations</p>
			</td>
		</tr>
		<!-- End Email Content -->

		<!-- Email Footer -->
		<tr>
			<td style="padding-top: 0px; padding-bottom: 0px">
				<table
					style="background: #424242;color: #fff;font-family: Helvetica, Arial, sans-serif;font-size: 16px;font-weight: 400;margin: 0 auto;padding: 10px;padding-bottom: 2px;padding-left: 8px;padding-right: 8px;text-align: left; width: 100%">
					<tr>
						<td
							style="color: #fff;font-family: Helvetica, Arial, sans-serif;font-size: 14px;font-weight: 700;letter-spacing: 1px;line-height: 1.3;margin-bottom: 2px;text-align: left;text-transform: uppercase;word-wrap: normal;padding-left: 10px">
							DO YOU HAVE ANY QUESTIONS ABOUT YOUR MEMBERSHIP?</td>
					</tr>
					<tr>
						<td style="padding-left: 10px;padding-top: 0px; padding-bottom: 0px; font-size: 14px;">We are
							here to help. Contact Member Services at:</td>
					</tr>
					<tr>
						<td style="padding-left: 10px;padding-top: 0px; padding-bottom: 0px; font-size: 14px;">+1 (617)
							459-4200 | INTERNATIONAL - Collect Calls Accepted</td>
					</tr>
					<tr>
						<td style="padding-left: 10px;padding-top: 0px; padding-bottom: 0px; font-size: 14px;">(800)
							381-9754 TOLL FREE. U.S./Canada Only</td>
					</tr>
					<tr>
						<td style="padding-top: 0px; padding-bottom: 0px"><span
								style="color: #fff;font-family: Helvetica, Arial, sans-serif;font-size: 14px;font-weight: 700;letter-spacing: 1px;line-height: 1.3;margin-bottom: 5px;text-align: left;text-transform: uppercase;word-wrap: normal;padding-left: 10px">Member
								Services:</span>
							<span><a href="mailto:memberservices@globalrescue.com"
									style="Margin: 0; color: #d61315; text-decoration: none; font-size: 14px;">memberservices@globalrescue.com</a></span>
						</td>
					</tr>
					<tr>
						<td style="padding-top: 0px; padding-bottom: 0px"><span
								style="color: #fff;font-family: Helvetica, Arial, sans-serif;font-size: 14px;font-weight: 700;letter-spacing: 1px;line-height: 1.3;margin-bottom: 5px;text-align: left;text-transform: uppercase;word-wrap: normal;padding-left: 10px">Operations:</span>
							<span><a href="mailto:memberservices@globalrescue.com"
									style="Margin: 0; color: #d61315; text-decoration: none; font-size: 14px;">operations@globalrescue.com</a></span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<!-- End Email Footer -->

		<!-- Copy Rights -->
		<tr>
			<td>
				<p style="text-align: center;font-size: 12px;font-weight: bold;letter-spacing: 2px;margin: 15px 0px;">
					&#169; COPYRIGHT 2023, GLOBAL RESCUE LLC</p>
			</td>
		</tr>
		<!-- End Copy Rights -->

		<!-- Social Icons-->
		<tr>
			<td>
				<table align="center"
					style="Margin: 0 auto; background: #fefefe; border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: auto !important;">
					<tbody>
						<tr style="padding: 0; text-align: left; vertical-align: top;">
							<td
								style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
								<table
									style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%;">
									<tbody>
										<tr style="padding: 0; text-align: left; vertical-align: top;">
											<th
												style="Margin: 0 auto; color: #0a0a0a; float: none; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 10px; padding-right: 10px; text-align: center;">
												<a href="https://www.facebook.com/myglobalrescue" target="_blank"
													style="Margin: 0; color: #d61315; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;"><img
														src="https://cdn2.globalrescue.com/grapps/grcom/facebook.jpg"
														width="32px" alt="Global Rescue Facebook Page"
														style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 100%; outline: none; text-decoration: none; width: auto;"></a>
											</th>
											<th "="" style=" Margin: 0 auto; color: #0a0a0a; float: none; font-family:
												Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal;
												line-height: 1.3; margin: 0 auto; padding: 10px; padding-right: 10px;
												text-align: center;"><a href="http://twitter.com/GlobalRescue"
													target="_blank"
													style="Margin: 0; color: #d61315; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none;"><img
														src="https://cdn2.globalrescue.com/grapps/grcom/twitter.jpg"
														width="32px" alt="Global Rescue Twitter Page"
														style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 100%; outline: none; text-decoration: none; width: auto;"></a>
											</th>
											<th
												style="Margin: 0 auto; color: #0a0a0a; float: none; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 10px; padding-right: 10px; text-align: center;">
												<a href="https://www.linkedin.com/company/globalrescue-llc"
													target="_blank" "="" style=" Margin: 0; color: #d61315; font-family:
													Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3;
													margin: 0; padding: 0; text-align: left; text-decoration:
													none;"><img
														src="https://cdn2.globalrescue.com/grapps/grcom/linkedin.jpg"
														width="32px" alt="Global Rescue LinkedIn Page"
														style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 100%; outline: none; text-decoration: none; width: auto;"></a>
											</th>
											<th class="menu-item float-center"
												style="Margin:0 auto;color:#0a0a0a;float:none;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:10px;padding-right:10px;text-align:center">
												<a href="https://www.instagram.com/global_rescue/"
													style="Margin:0;color:#d61315;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><img
														src="https://cdn2.globalrescue.com/grapps/grcom/instagram.png"
														width="32px" alt="Global Rescue on Instagram"
														style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
											</th>
											<th class="menu-item float-center"
												style="Margin:0 auto;color:#0a0a0a;float:none;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:10px;padding-right:10px;text-align:center">
												<a href="https://vimeo.com/globalrescue"
													style="Margin:0;color:#d61315;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"><img
														src="https://cdn2.globalrescue.com/grapps/grcom/vimeo.png"
														width="32px" alt="Global Rescue on Vimeo"
														style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
											</th>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<!-- End Social Icons -->


	</table>

</body>

</html>